main {
  #logos {
    padding: 40px 0px;
    .container {
      .cards {
        width: 100%;

        .slick-arrow {
          display: none !important;
        }
        .slick-dots {
          margin-top: 20px;
          display: flex;
          gap: 6px;
          justify-content: center;
          list-style: none;
          .slick-active {
            button {
              background-color: #c19a83;
              transform: scale(1.2);
            }
          }
          li {
            button {
              border-radius: 50%;
              font-size: 0px;
              width: 6px;
              height: 6px;
              border: none;
              background-color: #bab4b1;
              transition: 400ms;
            }
          }
        }
        .card {
          padding: 10px;
          display: grid;
          place-items: center;
          border: 1px solid rgb(0, 0, 0, 0.07);
          height: 110px;
          margin: 0 20px;
          svg {
            width: 100%;
          }
        }
      }
    }
  }
  #shopcategory {
    padding: 40px 0px;
    .container {
      flex-direction: column;
      align-items: center;
      .head {
        font-size: 12px;
        letter-spacing: 2px;
        color: rgba(0, 0, 0, 0.61);
        font-weight: 400;
        margin-bottom: 15px;
      }
      h2 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 20px;
      }
      .line {
        width: 50px;
        height: 1.5px;
        background-color: #c19a83;
      }
      .categorys {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .box {
          display: grid;
          place-items: center;
          background-color: #f0f3f2;
          padding-bottom: 1.2rem;
          width: 23.5%;
          height: 350px;

          position: relative;
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);

          img {
            width: 100%;
          }
          .abouts {
            padding: 3px 0;
            position: absolute;
            bottom: 30px;
            right: 0;
            left: 0;
            margin: 0 auto;
            display: grid;
            place-items: center;
            flex-direction: column;
            background-color: white;
            width: 90%;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 1.5;
            font-size: 0.9em;
            p {
              opacity: 0.5;
              font-size: 0.75em;
            }
          }
        }
      }
    }
  }
  #featuredproducts {
    padding: 40px 0px;
    .container {
      flex-direction: column;
      align-items: center;
      .head {
        font-size: 12px;
        letter-spacing: 2px;
        color: rgba(0, 0, 0, 0.61);
        font-weight: 400;
        margin-bottom: 15px;
      }
      h2 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 20px;
      }
      .line {
        width: 50px;
        height: 1.5px;
        background-color: #c19a83;
      }
      .categorys {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .box {
          display: flex;
          flex-direction: column;
          position: relative;
          width: 32%;
          background-color: #f1f3f2;
          margin-bottom: 20px;
          &:hover {
            .options {
              opacity: 100%;
            }
          }
          img {
            width: 100%;
          }
          .sale {
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
            display: grid;
            place-items: center;
            position: absolute;
            border-radius: 15px;
            padding: 8px;
            left: 20px;
            top: 20px;
            background-color: white;
            z-index: 1;
          }
          .options {
            transition: 300ms;
            display: flex;
            flex-direction: column;
            gap: 10px;
            position: absolute;
            right: 20px;
            top: 10px;
            opacity: 0;
            z-index: 1;

            div {
              background-color: white;
              display: grid;
              border-radius: 50%;
              place-items: center;
              width: 30px;
              height: 30px;
              transition: 400ms;
              box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

              &:hover {
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.17);
              }
            }
          }
          .productabout {
            display: grid;
            place-items: center;

            gap: 15px;
            .productame {
              font-size: 22px;
            }
            .price {
              display: flex;
              gap: 10px;
              font-size: 13.5px;
              color: rgba(0, 0, 0, 0.61);
              font-weight: 600;
            }
            .colors {
              display: flex;
              gap: 10px;
              margin-bottom: 20px;
              div {
                height: 20px;
                width: 20px;
                border-radius: 50%;
                border: 3px solid white;
              }
              .black {
                background-color: black;
              }
              .bronze {
                background-color: #8f6453;
              }
              .gold {
                background-color: #dabca2;
              }
            }
          }
        }
      }
    }
  }
  #brandcollection {
    padding-bottom: 20px;

    .container {
      .maindiv {
        margin-bottom: 20px;
        background-repeat: no-repeat;
        background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.398),
            rgba(0, 0, 0, 0.398)
          ),
          url("https://websitedemos.net/furniture-shop-04/wp-content/uploads/sites/1116/2022/07/bg-01.jpg");
        background-size: cover;
        background-position: center;
        width: 66%;
        display: flex;
        place-items: jus;
        justify-content: center;
        align-items: center;
        color: white;
        flex-direction: column;
        gap: 10px;
        text-align: center;
        height: 651px;
        h5 {
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 2px;
        }
        h3 {
          font-size: 45px;
          max-width: 70%;
          font-weight: 700;
        }
        span {
          font-size: 22px;
        }
      }
      .mainproduct {
        width: 37%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        img {
          width: 50%;
        }
        .productabout {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 15px;
          .productname {
            font-size: 22px;
            font-weight: 400;
          }
          .options {
            display: flex;
            align-items: center;
            gap: 10px;
            .price {
              display: flex;
              gap: 15px;
              font-size: 15px;
              color: #0000009c;
            }
            .optionsbutton {
              color: white;
              padding: 15px;
              border: 1px solid black;
              background-color: black;
              text-transform: uppercase;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
  #elementors {
    padding-bottom: 20px;
    .container {
      flex-wrap: wrap;
      justify-content: space-between;
      .box {
        background-color: #f1f2f2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 32%;

        padding: 50px 63px;
        margin-bottom: 20px;
        .stars {
          color: #f0ad4e;
          font-size: 15px;
          margin-bottom: 15px;
        }
        .about {
          margin: 0;
          font-size: 19.5px;
          text-align: center;
          margin-bottom: 20px;
          letter-spacing: -0.3px;
        }
        .name {
          font-size: 12px;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: #8d8d8d;
          font-weight: 600;
        }
      }
    }
  }
  #bestproducts {
    padding: 60px 0;
    .container {
      flex-direction: column;
      align-items: center;
      .head {
        font-size: 12px;
        letter-spacing: 2px;
        color: rgba(0, 0, 0, 0.61);
        font-weight: 400;
        margin-bottom: 15px;
      }
      h2 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 20px;
      }
      .line {
        width: 50px;
        height: 1.5px;
        background-color: #c19a83;
      }
      .categorys {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        .box {
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 15px;
          width: 24.5%;
          padding: 20px 25px;
          text-align: center;
          i {
            font-size: 30px;
            color: #c19a83;
          }
          span {
            font-size: 22px;
            font-weight: 400;
          }
          p {
            color: rgba(0, 0, 0, 0.61);
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  main {
    #shopcategory {
      .container {
        h2 {
          font-size: 32px;
        }
        .categorys {
          .box {
            width: 32.3%;
            margin-bottom: 10px;
          }
        }
      }
    }
    #featuredproducts {
      .container {
        h2 {
          font-size: 32px;
        }
        .categorys {
          .box {
            width: 48.5%;
            margin-bottom: 10px;
          }
        }
      }
    }
    #brandcollection {
      .container {
        .maindiv {
          height: 408px;
          h5 {
            font-size: 10.9px;
          }
          span {
            font-size: 20px;
          }
          h3 {
            font-size: 32px;
          }
        }
        .mainproduct {
          .productabout {
            .productame {
              font-size: 20px;
            }
            .options {
              flex-direction: column;
            }
          }
        }
      }
    }
    #elementors {
      .container {
        .box {
          padding: 30px 10px;

          width: 48%;
        }
      }
    }
    #bestproducts {
      .container {
        h2 {
          font-size: 32px;
        }
        .categorys {
          .box {
            width: 48.5%;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 428px) {
  main {
    #shopcategory {
      .container {
        .categorys {
          .box {
            width: 100%;
            margin-bottom: 10px;
          }
        }
      }
    }
    #featuredproducts {
      .container {
        .categorys {
          .box {
            width: 100%;
          }
        }
      }
    }
    #brandcollection {
      .container {
        flex-direction: column;
        .maindiv {
          width: 100%;
          h5 {
            font-size: 10.9px;
          }
          span {
            font-size: 20px;
          }
          h3 {
            font-size: 25px;
            max-width: 100%;
          }
        }
        .mainproduct {
          width: 100%;
          .productabout {
            .productame {
              font-size: 20px;
            }
            .options {
              flex-direction: row;
              .optionsbutton {
                padding: 15px 5px;
              }
            }
          }
        }
      }
    }
    #elementors {
      .container {
        .box {
          width: 100%;
        }
      }
    }
    #bestproducts {
      .container {
        .categorys {
          .box {
            width: 100%;
          }
        }
      }
    }
  }
}
